$font-path: "../fonts" !default

@font-face
    font-family: "Jupiter"
    src: url('#{$font-path}/jupiter.ttf')
    font-display: swap;

@font-face
    font-family: "Geo"
    src: url('#{$font-path}/Geo-Regular.ttf')
    font-display: swap;

@font-face
    font-family: "Montserrat"
    src: url('#{$font-path}/Montserrat.ttf')
    font-display: swap;

@font-face
    font-family: "SpaceMono"
    src: url('#{$font-path}/SpaceMono-Regular.ttf')
    font-display: swap;

@font-face
    font-family: "MarketDeco"
    src: url('#{$font-path}/Market_Deco.ttf')
    font-display: swap;

@font-face
    font-family: "Earthorbiter"
    src: url('#{$font-path}/earthorbiter.ttf')
    font-display: swap;

@font-face
    font-family: "Neuropol"
    src: url('#{$font-path}/neuropol.ttf')
    font-display: swap;
