.footer
    width: 95%
    height: 5em
    background-color: #222
    bottom: 0
    color: white
    margin-top: 4em
    box-shadow: 0 1em 8em black
    padding: 1em
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    font-family: Montserrat
    border-top-left-radius: 1em
    border-top-right-radius: 1em

    a
        color: #7f94c0