.footer
    width: 100%
    height: 5em
    background-color: #222
    bottom: 0
    position: relative
    text-align: center
    clear: both 
    color: white
    box-shadow: 0 1em 8em black
    padding: 1em
    display: flex
    flex-direction: column
    align-items: left
    justify-content: space-between
    font-family: Montserrat
    @media screen and (min-width: 1024px)
        height: 6.3em
    @media screen and (max-width: 800px)
        height: 7em

    a
        color: #7f94c0
    
    .social
        width: -20%
        margin-right: -95em
        margin-top: -5em
        height: 5em

    .social a 
        color: white