.content
    display: flex
    flex-direction: row
    flex-wrap: wrap
    box-sizing: border-box
    padding: 3em
    background: none
    box-shadow: none
    @media screen and (max-width: 800px)
        flex-direction: column
        align-items: center
    
    @media screen and (min-width: 1920px)
        margin-top: 14.25em
        margin-bottom: 14.25em

    .left, .right
        height: auto
        width: 50%
        flex-direction: column
        align-items: center

    .card
        display: flex
        margin-bottom: 4em
        width: 13em
        height: 13em
        background-color: transparentize(#111, 0.2)
        box-shadow: 0 1em 8em black
        transition: all 0.5s
        align-items: center
        overflow: hidden
        border-radius: 1em
        @media screen and (max-width: 640px)
            width: 10em
            height: 10em
        @media screen and (max-width: 1920px)
            width: 15em
            height: 15em
        

        &:last-child
            margin-bottom: 4em
        
        .img
            height: 100%
            width: auto
            img
                height: 100%
                width: auto
        &:hover
            transition: all 0.5s
            transform: scale(1.1)