.head
    border-top-left-radius: 1em
    border-top-right-radius: 1em
    background-image: url('../img/exoly/SpaceVoidHighQuality.png')
    background-position: center
    background-size: 100%
    height: 38em 
    flex-direction: column

    @media screen and (max-width: 800px)
        height: 20em
        background-size: 200%
    @media screen and (max-width: 1024px)
        background-size: 200%

    h1 
        margin-top: 1em
        margin-left: 1em
        text-align: left
        font-size: 5em
        color: #ffffff
        font-family: Earthorbiter

        @media screen and (max-width: 800px)
            margin-top: 0.5em
            margin-left: 0.5em
            font-size: 2em
        @media screen and (max-width: 360px)
            font-size: 3em
        @media screen and (max-width: 1024px)
            margin-left: 0.5em
            margin-top: 1em

    h2
        margin-top: 4.5em
        margin-left: 3.5em
        font-family: Montserrat
        color: #ffffff
        font-size: 2em

        @media screen and (max-width: 800px)
            margin-left: 0.5em
            font-size: 1em
        @media screen and (max-width: 360px)
            margin-left: 0.5em
            font-size: 1em

.presentation
    background-color: transparentize(white, 0.97)
    height: auto
    justify-content: space-around
    div
        width: 40%
        height: 100%
        color: white
        font-family: Montserrat
        display: flex
        flex-direction: column
        word-spacing: -2px
        justify-content: flex-start
        margin: 3em 0
        @media screen and (max-width: 800px)
            display: none
        
        &.trad
            display: none
            @media screen and (max-width: 800px)
                display: block
                width: 80%
        // &.fr
        //     background-color: transparentize(red, 0.8)
        // &.en
        //     background-color: transparentize(green, 0.8)
        h1
            font-size: 2em
            margin-bottom: 1em
        h2
            font-size: 1.3em
            text-align: justify
        span
            font-weight: 600

.exoly
    height: 40em
    background-image: url('../img/exoly/exonaut.png')
    background-position: center
    background-size: 100%
    flex-direction: column
    border-bottom-left-radius: 1em
    border-bottom-right-radius: 1em

    @media screen and (max-width: 800px)
        height: 20em
        background-size: 200%
    @media screen and (max-width: 1024px)
        background-size: 200%

    h1
        text-align: left
        margin-left: 1em
        margin-top: 1em
        font-size: 5em
        color: #ffffff
        font-family: Earthorbiter
        @media screen and (max-width: 800px)
            margin-top: 0.5em
            margin-left: 0.5em
            font-size: 2em
        @media screen and (max-width: 360px)
            font-size: 3em
        @media screen and (max-width: 1024px)
            margin-left: 0.5em
            margin-top: 1em

    .review-1
        text-align: left
        font-size: 25px
        margin-top: 6.5em
        margin-left: 3em
        color: white
        font-family: Montserrat
    
    .review-2
        text-align: right
        font-size: 25px
        margin-top: -7.5em
        margin-right: 4em
        color: white
        font-family: Montserrat 
    
    .review-3
        text-align: right
        font-size: 25px
        margin-top: 11em
        margin-right: 6em
        color: white
        font-family: Montserrat
    
    button
        width: 10em
        align-items: center
        height: 2em
        margin-top: 3em
        margin-left: 30em
        border: 2px solid white
        background: Transparent
        font-family: SpaceMono
        font-size: 1.5em
        color: white
        border-top-left-radius: 0.3em
        border-top-right-radius: 0.3em
        border-bottom-left-radius: 0.3em
        border-bottom-right-radius: 0.3em
        transition: 0.5s all
        outline: 0

        &:hover
            background: white
            color: #222
            cursor: pointer


.partners
    justify-content: space-around
    height: 25em

    @media screen and (max-width: 800px)
        flex-direction: column
        align-items: center
    
    .title
        width: 100%
        color: white

        h1
            font-family: Earthorbiter
            font-size: 5em
            margin-left: 1em
            margin-top: 1em
            text-align: left
    
    .card
        margin-top: 6em
        margin-bottom: 3em
        position: relative
        flex-direction: column
        border-radius: 1em
        width: 18em
        height: 20em
        color: white
        transition: 0.2s all
        @media screen and (max-width: 800px)
            margin: 0
            margin-bottom: 2em
        @media screen and (max-width: 320px)
            width: 80%

        &:hover
            transform: scale(1.01)
            cursor: pointer

        h1
            width: 100%
            position: absolute
            text-align: center
            vertical-align: middle
            font-family: MarketDeco
            font-size: 1.5em
            top: 0.5em

        p
            position: absolute
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            text-align: justify 
            top: 3em
            width: 100%
            height: 17em
            font-family: Montserrat
            padding: 1em
            border-bottom-left-radius: 1em
            border-bottom-right-radius: 1em
            background-color: transparentize(black, 0.8)

        // &#novalife
        //     background-image: linear-gradient(to bottom left, #6644F6, #2467AB)
        //     @media screen and (max-width: 800px)
        //         margin-right: 0
        //         margin-top: 6em

@keyframes noise-anim
  @for $i from 0 through 20
    #{percentage($i*(1/20))}
      clip:rect(random(100)+px,9999px,random(100)+px,0)