.head {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-image: url("../img/plxplanets.png");
  background-position: center;
  background-size: 100%;
  height: 38em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-perspective: 5px;
          perspective: 5px;
  position: relative;
}

.head .perso {
  background-image: url("../img/plx.png");
  height: 5em;
  width: 5em;
  top: 0;
}

@media screen and (max-width: 800px) {
  .head {
    height: 20em;
    background-size: 200%;
  }
}

@media screen and (max-width: 1024px) {
  .head {
    background-size: 200%;
  }
}

.head h1 {
  margin-top: 1em;
  margin-left: 1em;
  text-align: left;
  font-size: 5em;
  color: #ffffff;
  font-family: Earthorbiter;
}

@media screen and (max-width: 800px) {
  .head h1 {
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: 2em;
  }
}

@media screen and (max-width: 360px) {
  .head h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 1024px) {
  .head h1 {
    margin-left: 0.5em;
    margin-top: 1em;
  }
}

.head h2 {
  margin-top: 4.5em;
  margin-left: 3.5em;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 2em;
}

@media screen and (max-width: 800px) {
  .head h2 {
    margin-left: 0.5em;
    font-size: 1em;
  }
}

@media screen and (max-width: 360px) {
  .head h2 {
    margin-left: 0.5em;
    font-size: 1em;
  }
}

.presentation {
  background-color: rgba(255, 255, 255, 0.03);
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.presentation div {
  width: 40%;
  height: 100%;
  color: white;
  font-family: Montserrat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-spacing: -2px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 3em 0;
}

@media screen and (max-width: 800px) {
  .presentation div {
    display: none;
  }
}

.presentation div.trad {
  display: none;
}

@media screen and (max-width: 800px) {
  .presentation div.trad {
    display: block;
    width: 80%;
  }
}

.presentation div h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.presentation div h2 {
  font-size: 1.3em;
  text-align: justify;
}

.presentation div span {
  font-weight: 600;
}

.exoly {
  height: 40em;
  background-image: url("../img/exoly/exonaut.png");
  background-position: center;
  background-size: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

@media screen and (max-width: 800px) {
  .exoly {
    height: 20em;
    background-size: 200%;
  }
}

@media screen and (max-width: 1024px) {
  .exoly {
    background-size: 200%;
  }
}

.exoly h1 {
  text-align: left;
  margin-left: 1em;
  margin-top: 1em;
  font-size: 5em;
  color: #ffffff;
  font-family: Earthorbiter;
}

@media screen and (max-width: 800px) {
  .exoly h1 {
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: 2em;
  }
}

@media screen and (max-width: 360px) {
  .exoly h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 1024px) {
  .exoly h1 {
    margin-left: 0.5em;
    margin-top: 1em;
  }
}

.exoly .review-1 {
  text-align: left;
  font-size: 25px;
  margin-top: 6.5em;
  margin-left: 3em;
  color: white;
  font-family: Montserrat;
}

.exoly .review-2 {
  text-align: right;
  font-size: 25px;
  margin-top: -7.5em;
  margin-right: 4em;
  color: white;
  font-family: Montserrat;
}

.exoly .review-3 {
  text-align: right;
  font-size: 25px;
  margin-top: 11em;
  margin-right: 6em;
  color: white;
  font-family: Montserrat;
}

.exoly button {
  width: 10em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  margin-top: 3em;
  margin-left: 30em;
  border: 2px solid white;
  background: Transparent;
  font-family: SpaceMono;
  font-size: 1.5em;
  color: white;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  outline: 0;
}

.exoly button:hover {
  background: white;
  color: #222;
  cursor: pointer;
}

.partners {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 25em;
}

@media screen and (max-width: 800px) {
  .partners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.partners .title {
  width: 100%;
  color: white;
}

.partners .title h1 {
  font-family: Earthorbiter;
  font-size: 5em;
  margin-left: 1em;
  margin-top: 1em;
  text-align: left;
}

.partners .card {
  margin-top: 6em;
  margin-bottom: 3em;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1em;
  width: 18em;
  height: 20em;
  color: white;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

@media screen and (max-width: 800px) {
  .partners .card {
    margin: 0;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 320px) {
  .partners .card {
    width: 80%;
  }
}

.partners .card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}

.partners .card h1 {
  width: 100%;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-family: MarketDeco;
  font-size: 1.5em;
  top: 0.5em;
}

.partners .card p {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: justify;
  top: 3em;
  width: 100%;
  height: 17em;
  font-family: Montserrat;
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes noise-anim {
  0% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  5% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  10% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  15% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  20% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  25% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  30% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  35% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  40% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  45% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  50% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  55% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  60% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  65% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  70% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  75% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  80% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  85% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  90% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  95% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  100% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
}

@keyframes noise-anim {
  0% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  5% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  10% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  15% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  20% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  25% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  30% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  35% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  40% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  45% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  50% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  55% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  60% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  65% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  70% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  75% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  80% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  85% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  90% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  95% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
  100% {
    clip:rect(random(100) + px, 9999px, random(100) + px, 0) {
    }
  }
}
/*# sourceMappingURL=index.css.map */