#parallax-container
    display: flex
    min-height: calc(100vh - 4em)
    min-width: 100vw
    z-index: -1
    margin-top: 4em
    @media screen and (max-width: 800px)
        margin-top: 0
    div
        position: fixed
        display: flex
        width: 100%
        top: 0
        background-position: center !important
        transform: translateY(0px)
        justify-content: center
        @media screen and (min-width: 1420px)
            height: 70em
            img
                height: inherit
                width: auto
                width: auto
                transform: scale(1.1)
        @media screen and (min-width: 1930px)
            height: auto
            width: 100%
            img
                margin-top: 6em
                height: inherit
                width: auto
                transform: scale(1.5)
        @media screen and (min-width: 2000px)
            height: auto
            width: 100%
            img
                margin-top: 5em
                height: inherit
                width: auto
                transform: scale(1.6)
        img
            height: inherit
            width: auto

    
.head
    border-top-left-radius: 1em
    border-top-right-radius: 1em
    background-image: url('../img/plxplanets.png')
    background-position: center
    background-size: 110%
    height: 40em 
    flex-direction: column
    position: relative
    

    .parallax
        perspective: 1px
        height: 100%

        .object-wrapper
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            background: none
            justify-content: center

        .speed-1
            transform: translateZ(-1px) scale(2)
            .object
                margin-left: 250px
                height: 100px
                width: 300px
                margin-top: 100px
                background: red

        .speed-2
            transform: translateZ(-2px) scale(3)
            .object
                margin-left: 250px
                height: 100px
                width: 300px
                margin-top: 200px
                background: yellow

    @media screen and (max-width: 800px)
        height: 20em
        background-size: 200%
    @media screen and (max-width: 1024px)
        background-size: 200%

    h1 
        position: relative
        // margin-top: 1em
        margin-left: 1em
        text-align: left
        font-size: 5em
        color: #ffffff
        font-family: Earthorbiter

        @media screen and (max-width: 800px)
            margin-top: 0.5em
            margin-left: 0.5em
            font-size: 2em
        @media screen and (max-width: 360px)
            font-size: 3em
        @media screen and (max-width: 1024px)
            margin-left: 0.5em
            margin-top: 1em 
 
    h2
        margin-top: 4.5em
        margin-left: 3.5em
        font-family: Montserrat
        color: #ffffff
        font-size: 2em

        @media screen and (max-width: 800px)
            margin-left: 0.5em
            font-size: 1em
        @media screen and (max-width: 360px)
            margin-left: 0.5em
            font-size: 1em

.top
    height: 35em
    width: 100%
    background-color: transparentize(red, 0.5)


.spacer
    height: 50em
    // height: 100vh
    // width: 100%
    // background-color: rgba(255, 255, 255, .1)

.maincontainer
    max-width: 80%
    height: auto
    z-index: 1
    position: -webkit-sticky
    position: sticky
    top: 0    

.presentation
    height: 20em
    border-radius: 1em
    text-align: center
    border: 6px solid #222
    background-image: url('../img/exoly/ExolyShot14.png')
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: top center
    background-size: 100%;
    margin-bottom: 50px
    @media screen and (max-width: 800px)
        height: 20em
    @media screen and (min-width: 800px)
        height: 25em
    @media screen and (max-width: 360px)
        height: 25em
    @media screen and (min-width: 360px)
        height: 20em

    #logo-container
        .logo
            width: 8%
            flex-direction: column
            align-items: center
            justify-content: center
            margin-left: 45%
            img 
                width: 50%

    #jump
        height: 20em
        width: 100%
        @media screen and (min-width: 1024px)
            height: 11em
        @media screen and (max-width: 800px)
            height: 4em
        @media screen and (max-width: 360px)
            height: 9em
        @media screen and (min-width: 360px)
            height: 100px

    #text-container
        .text
            width: 45%
            height: 100px
            color: white
            font-family: Montserrat
            display: inline-block
            word-spacing: -2.5px
            justify-content: space-around
            outline: 0
            max-width: 3600px
            @media screen and (min-width: 1024px)
                display: inline-block
                width: 75%
                max-width: 200%
            @media screen and (max-width: 800px)
                display: inline-block
                width: 70%
            @media screen and (max-width: 360px)
                display: inline-block
                width: 90%
            h2
                font-size: 1.3em
                text-align: center
            span
                font-weight: 600

.exoly
    position: relative
    height: 40em
    border: 6px solid #222
    background-image: url('../img/exoly/ExolyShot16.png')
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: top center;
    background-size: 100%;
    flex-direction: column
    border-radius: 1em
    margin-bottom: 10em
    @media screen and (max-width: 800px)
        height: 20em
        background-size: 200%
    @media screen and (max-width: 1024px)
        background-size: 200%

    h1
        text-align: center
        margin-left: 3em
        font-size: 5em
        font-family: Montserrat
        color: #ffffff
        @media screen and (max-width: 800px)
            margin-top: 0.5em
            margin-left: 0.5em
            font-size: 2em
        @media screen and (max-width: 360px)
            font-size: 3em
        @media screen and (min-width: 1024px)
            margin-left: 0.5em
            padding-top: 1em

    p
        font-size: 1.8em
        font-family: Montserrat
        position: absolute
        width: 25em
        text-align: center
        top: 50%
        left: 50%
        margin: 0
        transform: translate(-50%, -50%);
        color: #ffffff
        
    button
        width: 14em
        height: 2em
        flex-direction: column
        align-items: center
        justify-content: center
        position: absolute
        margin: 0
        top: 90%
        left: 50%
        border: none
        background: #333
        font-family: SpaceMono
        font-size: 1.5em
        color: white
        border-radius: 0.2em
        transition: 0.5s all
        transform: translate(-50%, -50%);
        outline: 0

        &:hover
            cursor: pointer


@keyframes noise-anim
  @for $i from 0 through 20
    #{percentage($i*(1/20))}
      clip:rect(random(100)+px,9999px,random(100)+px,0)